*.obj
*.bin
.depend
.depend.*
*.su
*.o
*.d

# generated includes
include/generated

# u-boot binaries stuff
u-boot-octeon_*
System-octeon_*.map

.boards.depend
include/generated/*
u-boot.lds
tools/dtc
tools/dtcsrc/libfdt/libfdt.a
tools/dtcsrc/convert-dtsv0
tools/dtcsrc/convert-dtsv0-lexer.lex.c
tools/dtcsrc/ftdump
tools/dtcsrc/libfdt/libfdt-1.2.0.so
tools/dtcsrc/libfdt/libfdt.so
tools/dtcsrc/version_gen.h
tools/update_octeon_header
tools/envcrc
tools/gen_eth_addr
tools/img2srec
tools/ncb


# Created by https://www.toptal.com/developers/gitignore/api/linux,macos,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=linux,macos,visualstudiocode

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### VisualStudioCode ###
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

# End of https://www.toptal.com/developers/gitignore/api/linux,macos,visualstudiocode

# local misc
misc/
